/*
  CSS personnal webpage
*/

@font-face { }
html {
    height: 100%;
}

body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Josefin Slab', arial, serif;
    line-height: 23px;
    color: 000000;

}

div#std-title {
    font-family: 'Reenie Beanie', arial, serif;
    font-size: 30px;
}

div#container {
    width: 100%;
    height: 100%;

    position: relative;
    padding-bottom: 10px;
}

div#left {
    float:left;
    background-image:url(../images/me.png) ;
    margin-left:0px;
    height: 1530px;
    width: 477px;
    display: block;

}


div#right {
    background-image:url(../images/rep2.png) ;
    margin-left: 477px ;
    padding-left: 50px;
    font-size: 20px;
    height: 1510px;
    //width: 60%;
    text-align: justify;
    padding-right: 40px;
    min-width: 800px;
    padding-bottom: 20px;
}

li.tlist {

    padding-bottom: 15px;
}

div#main {
    padding-top: 30px;
}

div#main div#std-title {
    float:left;
    width: 450px;
}

div#main div#social-icons {
    float: right;
    width: 250px;
    padding-top:35px;
    text-align: right;

}
div#main div#title {
    height: 120px;
    min-width: 650px;
}

div#main div#title p {
    margin-top:-40px;
    padding-left: 20px;
}

div#main a {
    color: #bd6b00;
    text-decoration: none;
}

div#main a:hover {

}

div#main a:visited {
    color: #bd6b00;
    text-decoration: none;
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}