/*
  CSS personnal webpage
*/

@font-face { }

body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Josefin Slab', arial, serif;
    line-height: 23px; 
    color: 000000;
}

div#std-title {
    font-family: 'Reenie Beanie', arial, serif;
    font-size: 30px;
}

div#container {
    width: 100%; 
    clear: both; 
}

div#left {
    float:left; 
    background-image:url(../images/me.png) ; 
    margin-left:0px; 
    height: 1400px; 
    width: 477px; 
}

div#right {
    background-image:url(../images/rep2.png) ; 
    margin-left: 477px ;
    padding-left: 50px; 
    font-size: 20px; 
    height: 1400px;      
    //width: 60%; 
    text-align: justify;
    padding-right: 100px; 
    
}

li.tlist {

    padding-bottom: 15px; 
}

div#main {
    padding-top: 30px; 
}

div#main div#std-title {
    float:left; 
    width: 500px; 
}

div#main div#social-icons {
    float: right; 
    width: 200px; 
    padding-top:35px;
    text-align: right; 
  
}
div#main div#title {
    height: 140px;
    min-width: 700px; 
}

div#main div#title p {
    margin-top:-40px; 
    padding-left: 20px; 
}

div#main a {
    color: #bd6b00;
    text-decoration: none; 
}

div#main a:hover {
    font-weight: bold; 
}

div#main a:visited {
    color: #bd6b00;
    text-decoration: none;
}